---
// src/pages/test.astro
import Main from '../layouts/Main.astro';
---

<Main title="Test Page">
  <h1 class="text-4xl font-bold p-10">Test Works</h1>
  <p class="text-gray-600">If you see this, basic Astro works.</p>
</Main>